.player {
  position: absolute;
  text-align: center;
}

.Track {
  flex-direction: column;
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.frame-track {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.music {
  font-family: SFfont;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  padding: 2%;
  margin: 3%;
  max-height: 50%;
  text-align: center;
}

.counter {
  font-family: SFfont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}
.lis {
  font-family: SFfont;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.trackName {
  font-family: SFfont;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.artistName {
  font-family: SFfont;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

.track-info {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.idk {
  padding-top: 3%;
}

.card-track {
  background: #26282b;
  box-shadow: -10px -10px 30px #33363a, 10px 10px 30px #191a1c;
  border-radius: 10px;
  width: 295px;
  height: 112px;
}

@media screen and (max-width: 600px) {
  .card-track {
    width: 160px;
  }
  .frame-track {
    width: 325px;
    height: 325px;
  }
  .buttons {
    margin-top: 5%;
  }
}
