.player {
  position: absolute;
  text-align: center;
}

.Track {
  flex-direction: column;
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.frame {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5%; */
}

.music {
  margin: 3%;
}