.ArnoChat {
  width: 33vw;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateX(33vw);
  background: #ff4e00;
  transition: all ease 300ms;
  z-index: 100;
}

.main-text {
  font-family: SF Pro Text;
  font-style: normal;
  /* font-weight: 600; */
  font-size: 16px;
  /* line-height: 78px; */
  align-items: left;
  /* text-align: center; */
  letter-spacing: -0.02em;
  color: #222;

  max-width: 75%;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
}

.chat-wrapper {
  height: 90%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

.arno-logo {
  margin: 5%;
  margin-bottom: 0;
  margin-right: 25%;
}

.arno-text {
  margin-right: 25%;
  background-color: white;
}

.radio {
  max-width: 30px;
  max-height: 30px;
  flex: 1;
}

.input {
  margin: 5%;
  padding: 2%;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  flex: 3;
}

.audio {
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url(./radio.svg);
}

.user-text {
  margin-left: 25%;
  background-color: #f48937;
}

.bottom {
  padding: 2%;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: row;
}

.ArnoChat.active {
  transform: translateX(0);
}

@media screen and (max-width: 720px) {
  .ArnoChat {
    width: 100vw;
    height: 80vh;
    position: fixed;
    transform: translateY(80vh);
  }

  .ArnoChat.active {
    transform: translateY(0);
  }

  .moved {
    width: 100%;
  }
}
