.ArnoChat {
  /* scroll-behavior: smooth; */

  width: 33vw;
  height: 100vh;
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translateX(33vw);
  background: #ff4e00;
  transition: all ease 300ms;
  z-index: 101;
}
::-webkit-scrollbar {
  overflow: visible;
}
.main-text {
  font-family: SFfont;
  font-style: normal;
  font-size: 16px;
  align-items: left;
  letter-spacing: -0.02em;
  color: #222;

  max-width: 75%;
  margin: 5%;
  padding: 5%;
  border-radius: 10px;
}

#move-to-last {
  display: none;
}
.chat-wrapper {
  scroll-behavior: smooth;
  height: 90%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  padding-bottom: 80px;
}

.arno-logo {
  margin: 5%;
  margin-bottom: 0;
  margin-right: 25%;
}

.arno-text {
  margin-right: 25%;
  background-color: white;
}

.radio {
  max-width: 30px;
  max-height: 30px;
  flex: 1;
}
.input:-webkit-autofill::first-line {
  font-family: SFfont;
  font-style: normal;
  letter-spacing: -0.02em;
  color: #222;
}

.input {
  font-family: SFfont;
  font-style: normal;
  letter-spacing: -0.02em;
  color: #222;
  margin: 5%;
  padding: 2%;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #222;
  flex: 3;
}
.width-step-typing {
  width: 90%;
}
.width-step-audio {
  opacity: 0;
}
.audio {
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: url(../../assets/radio.svg);
}

.audio:focus {
  border: none;
  outline: none;
}
.audio:active {
  filter: invert(100%);
}

.user-text {
  margin-left: 25%;
  background-color: #f48937;
}

.bottom {
  padding: 2%;
  min-width: 100%;
  position: absolute;
  bottom: 0;
  flex-direction: row;
}

.ArnoChat.active {
  transform: translateX(0);
}

@media screen and (max-width: 720px) {
  .ArnoChat {
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: translateY(100vh);
  }
  .chat-wrapper {
    padding-bottom: 100px;
  }
  .bottom {
    background-color: #ff4e00;

    padding-bottom: 80px;
  }
  .ArnoChat.active {
    transform: translateY(0);
  }

  .moved {
    width: 100%;
  }
}
@media (max-width: 950px) and (min-width: 720px) {
  .input {
    width: 70%;
  }
  .h {
    padding-bottom: 30px;
  }
  .btn-true,
  .btn-false {
    width: 50%;
  }
}
