.Login {
  height: 100vh;
}
.form-group {
  background: #f96900;
  border-radius: 14.4407px;
}

.button-login {
  background: #f96900;
  box-shadow: 5.77627px 5.77627px 14.4407px rgba(0, 0, 0, 0.15),
    -5.77627px -5.77627px 14.4407px rgba(255, 255, 255, 0.15);
  border-radius: 14.4407px;
}
.button-login:hover,
.button-login:focus {
  text-decoration-line: none;
}
.button-register {
  background: #26282b;
  box-shadow: -10px -10px 30px #33363a, 10px 10px 30px #191a1c;
  border-radius: 10px;
}
.button-register:hover,
.button-register:focus {
  text-decoration-line: none;
}

.button-text {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #fffffa !important;
}

.text-no-acc {
  font-size: 12px;
  line-height: 14px;
}

.text-login {
  font-size: 18px;
  line-height: 21px;
}

.text-restore {
  font-size: 17.3288px;
  line-height: 21px;
  text-decoration-line: underline;
}
.text-register {
  font-size: 18px;
  line-height: 21px;
  text-decoration-line: none;
}
