.Main {
	width: 100vw;
  transition: all ease 300ms;
}

.moved {
  width: calc(67vw);
}

.Page {
	height: 100vh;
	padding: 80px 0;
	overflow: auto;
}

.card {
  background: #26282b;
  box-shadow: -10px -10px 30px #33363a, 10px 10px 30px #191a1c;
  border-radius: 10px;
  width: 295px;
  height: 112px;
}
