.form-control {
  width: 80%;
  height: 54px;
  background: #f96900;
  border-color: hsl(25, 100%, 49%);
  box-shadow: inset 2.88814px 2.88814px 14.4407px rgba(0, 0, 0, 0.15),
    inset -2.88814px -2.88814px 14.4407px rgba(255, 255, 255, 0.15);
  border-radius: 14.4407px;
}

form .form-control:focus {
  border-color: #f96900;
  background: #f96900;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.329);
}

form .form-control::placeholder {
  color: #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: inset 2.88814px 2.88814px 14.4407px rgba(0, 0, 0, 0.15),
    0 0 0 30px #f96900 inset;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white;
}

.form-text,
input:-webkit-autofill::first-line {
  font-family: SFfont;
  font-style: normal;
  /* font-weight: bold; */
  align-items: center;
  letter-spacing: -0.02em;
  text-indent: 21.661px;
  color: #fffffa !important;
  font-size: 14px;
  line-height: 17px;
  text-indent: 15px;
}
.is-invalid {
  color: #8b0f0f;
  font-size: 12px;
}
