.NavBar {
	width: 100vw;
	height: 70px;
	padding: 0 10px;
	box-sizing: border-box;

	position: fixed;
	bottom: 0;
	left: 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	justify-items: center;

	background: #222;
}

.NavBar .btn-link{
	font-size: 24px;
}

.NavBar .btn-link.active{
	color: #00C896;
}

.NavBar .primary {
	width: 60px;
	height: 60px;
	line-height: 40px;

	position: relative;
	bottom: 30px;

	font-size: 32px;
	background: #00C896 !important;
	border: none;
	border-radius: 50%;
	box-shadow: 0 5px 12px rgba(0, 200, 150, 0.12), 0 7px 15px rgba(0, 200, 150, 0.24);
	transition: all ease 300ms;
}

.NavBar .primary:hover {
	box-shadow: 0 14px 28px rgba(0, 200, 150, 0.25), 0 10px 10px rgba(0, 200, 150, 0.22);
}

.NavBar .primary.active svg{
	transform: rotateZ(45deg);
}
